{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">

            <div class="col">
                <h1>Taken</h1>
                {{ form(form) }}
            </div>
            <div class="col">

            </div>
        </div>
    </div>

{% endblock %}